* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
}

/* << Nav Bar >> */
nav{
    width: 100%;
    display: flex;
    padding: 5px 0;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    /* position: fixed; */
    /* background: linear-gradient(to bottom,
            #FED7BA 60%,
            rgba(204, 198, 198, 0.8) 40%); */
    color: #fff;
    /* z-index: 1; */
    /* border: 2px solid black; */
}
nav .logo{
    flex: 2;
    /* border: 2px solid green; */
}
nav .logo a{
    /* border: 2px solid yellow; */
}
nav .logo a img{
    width: 50px;
    position: absolute;
    left: 5%;
    top: 1%;
    /* border: 2px solid red; */
}
nav ul{
    /* border: 2px solid blue; */
    flex: 6;
    display: flex;
    justify-content: space-evenly;
}
nav ul li{
    /* border: 2px solid purple; */
    list-style: none;
}
nav ul li a{
    /* border: 2px solid violet; */
    font-size: 1.5vw;
    text-decoration: none;
    list-style: none;
    color: #777;
}
nav ul .active, nav ul li a:hover{
    color: #4CB4BE;
}

.d0{
    display: flex;
    width: 100%;
    padding: 4%;
    background: transparent;
    /* border: 2px solid green; */
}
.d0 img{
    flex: 8;
    width: 0%;
    background: transparent;
    /* border: 2px solid blue; */
}
.d0 .d0d0{
    /* border: 2px solid violet; */
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.d0 .d0d0 h1{
    font-size: 3.9vw;
    font-weight: bold;
}
.d0 .d0d0 h1 span{
    
    color: #4CB4BE;
    
}
.d0 .d0d0 p{
    font-size: 1.4vw;
}
.d0 .d0d0 a{
    border: 1px solid black;
    text-decoration: none;
    padding: 10px;
    font-size: 1.5vw;
    margin-right: 60%;
    margin-top: 20px;
    border-radius: 5px;
    font-weight: bolder;
    color: black;
}
.d0 .d0d0 a:hover{
    border: 1px solid #4CB4BE;
    background-color: #4CB4BE;
}
.d0 .d0d0 a i{}
.d0 .d0d1{
    flex: 1;
    /* border: 2px solid orange; */
}
.d0 .d0d1 img{}
